html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    
}

body{
    height: 100vh;
    background-image: radial-gradient(circle at 30% bottom, #344955, #35374B);
    width: 100%;
}

.container{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.info{
    border: 5px solid black;
    border-radius: 30px;
    width: 16%;
    height: 60%;
    box-shadow: 5px 5px 5px black;
    margin-right: 10px;
}

.main{
    border: 5px solid black;
    border-radius: 30px;
    width: 50%;
    height: 60%;
    box-shadow: 5px 5px 5px black;
}

.picture{
    width: 90%;
    margin: 3% auto;
    display: block;
    border: 4px solid black;
    border-radius: 22px;

}

.description{
    width: 90%;
    max-height: max-content;
    position: relative;
    padding-top: 10px;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.allbuttons{
    display: grid;
    width: 100%;
    height: 6%;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin: 1%;
}

.navigation:last-child{
    margin-right: 9%;
}

.navigation:first-child{
    margin-left: 3%;
}

.navigation{
    border: none;
    height: 200%;
    border-radius: 10px;
    background:none;
    font-size: 20px;
    font-weight: 700;
    transition: 0.5s;
}

.navigation:hover{
    background-color: #344955;
    cursor: pointer;
}

.navigation:active{
    
}
